@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PTMono;
  src: url(PTMono.ttf);
}

@font-face {
  font-family: HelveticaNeueLTPro-Cn;
  src: url(HelveticaNeueLTPro-LtCn.otf);
}

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #00000057; /* 2 */
}

::selection {
  background: #ededed; /* WebKit/Blink Browsers */
   color: rgb(85, 80, 80);
}
::-moz-selection {
  background: #ededed; /* Gecko Browsers */
  color: rgb(85, 80, 80);
}

:root {
  --text-color: 0, 0, 0;
  --background-color: 255, 255, 255;
}

html{
  scroll-behavior: smooth;
  
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}
.standard-lh{
  line-height:21px;
}

span.cola {
  width: 30%;
}

span.colb {
  width: 35%;
}

span.colc {
  width: 25%;
}

span.cold {
  width: 8%;
}

.outer-container {
    width: auto;
    height: 50vh;
    text-align: center;
    max-height:420px;
  }
.inner-container {
    display: inline-block;
    /* background-color: #00000015; */
}
.video-overlay {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
video {
    width: auto;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reelvideo{
  width: 250px;
  height: 250px;
  object-fit:cover;
  background-color: #ededed;
}

.inner-container video{
  background-color: #ededed !important;
  max-height:420px;
}

.reelcol{
  width:260px;
}

.homedesc p{
  margin-bottom:20px !important;
}

.homedesc, .footerdesc{
height:min-content;
width: 45vw;
 max-width:510px;
}

.footerdesc{
  margin-left:auto;
  margin-right:auto;
}
#home{
  padding-bottom:0;
}

.homedesc{
  margin: 0 auto;
}

.homedesc a{
  border-bottom-color: rgb(0 0 0 / 0.3);  border-bottom-width: 1px;
  cursor: pointer;
}

.react-draggable,
.react-draggable-dragged{
  z-index:100;
}

.inner-container-gif img{
  height:50vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.simple input{
  font-size: 14px;
    line-height: 19px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.9px;
    border-bottom: 1px solid #00000057;
            margin-right: 20px;
    width: 310px;
    color: #000000 !important;
    border-radius: 0px !important;
}


.simple div {
  color: #00000070!important;
    margin-bottom: 8px;
}

.simple input:focus{
  outline: none;
}

.simple button{
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.9px;
  border: 1px solid #00000057;
  border-radius: 0px;
  padding: 0 5px;
  color: black !important;
}

.lighter{
  color:#00000070;
  transition: all 0.25s;
}

.lighter:hover{
  color:#000000;
}

.bolder{
font-weight:normal;  
transition: all 0.25s;
}

.bolder:hover{
color: #000000de;}

.simple button:hover{
  background-color: #00000010;
  color:white;
}

::placeholder {
  color: #00000030;
  opacity: 1; /* Firefox */
}

.customform div {
  color: #00000070 !important;
  margin-bottom: 8px;
}

/* @media (max-width: 1000px) {



} */

@media (max-width: 1000px) {

  #home{
    padding-bottom:50px;
  }


    .react-draggable{
      transform: translate(0) !important;
      pointer-events:none;
    }

  .homedesc{
    height:min-content;
    width: auto;
    max-width: 100%;
    }

    .homedesc p{
      margin-bottom: 12px !important;
    }
    
    .footerdesc{
    height:min-content;
    width: auto;
    }
  .simple input{
      width: 70%;
  }

  img{
    height:auto !important;
  }

  .outer-container{
    height:auto;
    width:100%;
  }

  .inner-container{
    width:100%;
  }

  video {
    width: auto;
    height: auto;
}

  .reelvideo {
    box-shadow:none;
    width: 100%;
    /* height: 60vh; */
    object-fit: cover;
    height: auto;
    

}

.reelcol img{
  max-width:250px;

}


.reelcol{
  width: 100%;
}
}