@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PTMono;
  src: url(PTMono.ttf);
}

@font-face {
  font-family: HelveticaNeueLTPro-Cn;
  src: url(HelveticaNeueLTPro-LtCn.otf);
}

::selection {
  background: #ededed; /* WebKit/Blink Browsers */
   color: rgb(85, 80, 80);
}
::-moz-selection {
  background: #ededed; /* Gecko Browsers */
  color: rgb(85, 80, 80);
}

:root {
  --text-color: 0, 0, 0;
  --background-color: 255, 255, 255;
}

html{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}
.Project-Info{
}

span.cola {
  width: 30%;
}

span.colb {
  width: 35%;
}

span.colc {
  width: 25%;
}

span.cold {
  width: 8%;
}

.outer-container {
    width: auto;
    height: 40vh;
    text-align: center;
}
.inner-container {
    display: inline-block;
    /* background-color: #00000015; */
}
.video-overlay {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
video {
    width: auto;
    height: 40vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.reelvideo{
  width: 260px;
  height: 260px;
  object-fit:cover;
  background-color: #ededed;
}

.inner-container video{
  background-color: #ededed !important;
}

.reelcol{
  width:260px;
}

.homedesc p{
  margin-bottom:12px !important;
}

.homedesc{
height:min-content;
width: 510px;
margin: 0 auto;
}

.react-draggable,
.react-draggable-dragged{
  z-index:100;
}

.inner-container-gif img{
  height:40vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.simple input{
  font-size: 14px;
    line-height: 19px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.9px;
    border-bottom: 1px solid #00000030;
        margin-right: 20px;
    width: 310px;
    color: #000000 !important;
}


.simple div {
  color: #00000070 !important;
  margin-bottom: 8px;
}

.simple input:focus{
  outline: none;
}

.simple button{
  font-size: 13px;
  line-height: 18px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.9px;
  border: 1px solid #00000030;
  border-radius: 0px;
  padding: 0 5px;
  color: black !important;
}

.simple button:hover{
  background-color: #00000010;
  color:white;
}

::placeholder {
  color: #00000030;
  opacity: 1; /* Firefox */
}

.customform div {
  color: #00000070 !important;
  margin-bottom: 8px;
}

@media (max-width: 1000px) {

  .homedesc{
    height:min-content;
    width: auto;
    margin: 0 auto;
    }
  .simple input{
      width: 70%;
  }

  img{
    height:auto !important;
  }

  .outer-container{
    height:auto;
    width:100%;
  }

  .inner-container{
    width:100%;
  }

  video {
    width: auto;
    height: auto;
}

  .reelvideo {
    box-shadow:none;
    width: 100%;
    /* height: 60vh; */
    object-fit: cover;

}

.reelvideo video{
}


.reelcol{
  width: 100%;
}
}